@namespace NewsBlazorAppAdmin.Shared
@typeparam TItem

<div id="modal" class="modal show d-block" style="background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">@Title</h1>
                <button type="button" @onclick="()=>OnSaveChanges.InvokeAsync(null)" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <button type="button" @onclick="()=>OnSaveChanges.InvokeAsync(null)" class="btn btn-secondary" data-bs-dismiss="modal">أغلاق</button>
            </div>
        </div>
    </div>
</div>