
<a href="/News/@item.Id">
    <div class="NewNewsSectionContainer d-flex flex-row">
        <img class="NewNewsSectionImg" src="@item.Image" />
        <div class="NewNewsSectionTitle">@item.Title</div>
    </div>
</a>
