.BtnsContainer[b-n1swebvlio] {
    border: 1px #2a00f4 solid;
    border-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.NewNewsSectionHead[b-n1swebvlio] {
    font-family: 'Droid Arabic Kufi', Tahoma;
    font-size: 12px;
    color: #FFF;
    display: block;
    font-weight: bold;
    background: #1d1858ab;
    margin: 0px;
    padding: 6px 10px;
    border-right: 10px solid #50076380;
}